.Note {
  --bg-color: #e8dd5a;
}

.Note {
  width: 250px;
  background-color: var(--bg-color);

  list-style-type: none;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.Note:hover {
  opacity: 0.85;
  cursor: pointer;
}

.Note-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.Note > :not(:last-child) {
  margin-bottom: 25px;
}

.Note-created {
  text-align: end;
  color: gray;
  font-size: 0.8rem;
}
